/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --gray-100: #f3f3f3;
  --gray-200: #eeeeee;
  --gray-300: #dddddd;
  --gray-400: #cccccc;
  --gray-500: #bbbbbb;
  --gray-600: #a3a3a3;
  --gray-700: #8d8d8d;
  --gray-800: #737373;
  --gray-900: #5a5a5a;
  --red-salsa: #f94144;
  --orange-red: #f3722cff;
  --yellow-orange-color-wheel: #f8961eff;
  --mango-tango: #f9844aff;
  --maize-crayola: #f9c74fff;
  --pistachio: #90be6dff;
  --zomp: #43aa8bff;
  --cadet-blue: #4d908eff;
  --queen-blue: #577590ff;
  --cg-blue: #277da1ff;
}

body {
  margin: 0;
  background-color: var(--gray-400);
  color: #fff;
  font-family: Monospace;
  font-size: 16px;
  line-height: 24px;
  overscroll-behavior: none;
}

a {
  color: #ff0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

canvas {
  display: block;
}

a,
button,
input,
select {
  pointer-events: auto;
}
